<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo Node.js | <%= title %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <style>
    body {
      padding-top: 80px;
      min-height: 100vh;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      background: linear-gradient(to bottom, #8dc6ff, #e4f1fe);
      color: #22313f;
    }
    h1 {
      text-transform: uppercase;
    }
    nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 60px;
      display: flex;
      justify-content: flex-end;
      background-color: #34495e;
    }
    nav ul {
      margin: 0;
      padding: 0;
      display: flex;
    }
    nav li {
      list-style: none;
    }
    nav a {
      min-height: 60px;
      display: block;
      padding: 10px 20px;
      line-height: 60px;
      color: white;
    }
    a {
      text-decoration: none;
      color: #22313f;
    }
  </style>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Contacts:</h1>
  <ul>
    <% if (contacts.length) { %>
      <% contacts.forEach(({ link, name }) => { %>
        <li>
          <a href="<%= link %>"><%= name %></a>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>